* {margin: 0; padding: 0;}

body, html { height: 100%; }

#myCanvas {
    position:absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.navbar-custom {
  background-color: white;
}

.opacityOn {
  animation: opacityOn;
  animation-duration: 5s;
}

.opacityOut {
  animation: opacityOut;
  animation-duration: 3s;
}

.divExplanationIn {
    position: relative;
    animation: mymoveIn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
  
.divExplanationOut {
  position: relative;
  animation: mymoveOut;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.divEndDataIn {
  position: relative;
  animation: mymoveInEndData;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes mymoveIn {
    0% {top: -70%;}
    100% {top: 30%;}
}


@keyframes mymoveOut {
  0% {top: 30%;}
  100% {top: -100%;}
}


.divDataIn {
  position: relative;
  animation: mymoveInData;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.divDataOut {
  position: relative;
  animation: mymoveOutData;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


@keyframes mymoveInData {
  0% {top: -30%;}
  100% {top: 5%;}
}

@keyframes mymoveOutData {
  0% {top: 5%;}
  100% {top: -50%;}
}

@keyframes opacityOn {
  0% {opacity: 0}
  100% {opacity: 1}
}


@keyframes opacityOut {
  0% {opacity: 1}
  100% {opacity: 0}
}

@keyframes mymoveInEndData {
  0% {top: -70%;}
  100% {top: 5%;}
}
.sparline-custom{
  display: inline-block;
  vertical-align: top;
}

.velocity-style{
  font-family: "Playfair Display script=latin rev=8";
  font-weight: 400;
  font-style: normal;
  line-height: initial;
  color: rgba(7, 15, 46, 0.3);
}

.card-image-top{
  height: 100px;
  width: 100px;
}